@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nokora');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
	font-family: "milky";
	src: url("../font/milky_lemon/Milky\ Lemon.otf");
}

@font-face {
	font-family: "vintage";
	src: url("../font/the_vintage_town/The\ Vintage\ Town.ttf");
}

@font-face {
	font-family: "masculine";
	src: url("../font/masculine_2/Masculine.otf");
}

@font-face {
	font-family: "sabtu";
	src: url("../font/sabtu_minggu/Sabtu\ Minggu.otf");
}


@font-face {
	font-family: "bit";
	src: url("../font/bit_light10/BitLight10\(sRB\).TTF");
}


* {

	margin: 0;
	/*	padding: 0; */
	outline: none;
	font-family: 'Montserrart', sans-serif;

	--body-color: #2c2d2a;
	--savanna-bg: #e9bf8b;
	--beach-bg: #e7dfcf;
	--glacier-bg: #b6d6c8;
	--coral-bg: #e86357;
	--arrow-fill: #333231;
	--body-font: 'Poppins', sans-serif;
	--italic-font: "EB Garamond", serif;
	box-sizing: border-box;
}

:root {
	--bianco: #ffff;
	--rosso: #ea4335;
	--azzurro: #4285f4;
	--verde: #34a853;
	--giallo: #fbbc05;
	--sfondo: #192841;
}

body {
	background: var(--sfondo);
}

/***************************************************** NAVBAR **************************************************************/

.scroll-up {
	position: fixed;
	height: 45px;
	width: 42px;
	background: var(--bianco);
	right: 30px;
	bottom: 10px;
	text-align: center;
	line-height: 45px;
	color: var(--azzurro);
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

.navbar {
	position: fixed;
	padding: 2rem 0;
	width: 100%;
	z-index: 999;
	letter-spacing: 4px;
	transition: 0.5s ease;
	background: #192841;
	/* border-bottom: 1px solid yellow; */
	/* opacity: 0.9; */
	height: 90px;
}

.navbar .menu {

	color: var(--bianco);
	text-decoration: none;
	font-size: 1rem;
	margin-left: 5em;
	position: relative;
	overflow: hidden;
	display: inline-block;
	border-radius: 25px;

	text-decoration: none;
	transition: 0.5s ease;
	/* display: inline-block; */
	list-style: none;
	/* display: inline-block; */
	display: flex;
	align-items: baseline;
	justify-content: space-around;

}

/*navbar categorie*/
.navbar .menu li a {
	color: var(--bianco);
	text-decoration: none;
	font-size: 1rem;
	margin-left: 3em;
	position: relative;
	overflow: hidden;
	display: inline-block;
	/* border-radius: 25px; */
	padding: 10px 12px;
	text-decoration: none;
	/* transition: 0.5s ease; */
}

.navbar .menu li a:hover {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
}

.navbar .max-width {
	max-width: 100%;
	padding: 0 3rem;
	margin: auto;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.max-width {
	max-width: 100%;
	padding: 0 5rem;
	margin: auto;
}

.logo {
	transition: 0.5s ease;
	font-size: 1.5rem;
	color: var(--bianco);
	text-decoration: none;
	font-weight: bold;
}

.active {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	transition: 0.5s;
}

/*burger*/
.menu-btn {
	color: var(--bianco);
	font-size: 30px;
	cursor: pointer;
	display: none;
}

.navbar .menu i {
	display: flex;
	flex-direction: column;
	align-items: center;
	display: none;
	color: var(--bianco);
	font-size: 28px;
	margin-bottom: 3px;
	transition: all 0.1s ease;
}

.navbar .menu .menu-close {
	color: var(--sfondo);
}

/******************************* SEZIONI ****************************/
.home {
	display: grid;
	position: relative;
	grid-template-columns: auto;
	/* grid-gap: -2px; */
	height: 100vh;
	color: #fff;
	min-height: 30.25rem;
	letter-spacing: 1px;
	/* margin-bottom: 30px; */
	grid-template-rows: 50% 50%;
}

.home .max-width {
	max-width: 100%;
	padding: 0;
}

.home .home-content {
	text-align: center;
	/* border: 2px solid yellow; */
	padding: 50px;
	border-radius: 5px;
}

.home .home-social {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 15%;
	left: 5%;
}

.home .home-social i {
	font-size: 32px;
	color: var(--bianco);
}


.esconder,
.esconder2,
.esconder3 {
	visibility: hidden;
	position: relative;
	left: 30px;
	bottom: 20px;
	color: var(--bianco);
	opacity: 0;
	transition: 0.3s ease;
}

.linkedin:hover>.esconder,
.github:hover>.esconder2,
.codepen:hover>.esconder3 {
	visibility: visible;
	left: 52px;
	opacity: 1;
}

.home .home-social a {
	margin-bottom: 50px;
}

.home .home-content .text-1 {
	color: var(--bianco);
	opacity: 0.3;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: -16px;
}

.home .home-content .titolo {
	color: var(--bianco);
	font-size: 120px;
	white-space: nowrap;
	font-family: "sabtu";
}

.home .home-content .text-2 {
	color: var(--bianco);
	opacity: 0.3;
	font-size: 1.3rem;
	margin-top: -1.5rem;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 12px;
}

.home .home-content .button-text-3 {
	margin-top: 4.5rem;
}

.home .home-content .button-text-3 a {
	z-index: 1;
	overflow: hidden;
	background: transparent;
	position: relative;
	padding: 15px 50px;
	border-radius: 16px;
	cursor: pointer;
	font-size: 1.3em;
	transition: 0.2s ease;
	margin: 5px 0px;
	border: 3px solid var(--azzurro);
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
	color: var(--bianco);
	text-decoration: none;
}

.home .home-content .button-text-3 a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	border-radius: 10px;
	z-index: -1;
	transition: 0.2s ease;
}

.home .home-content a:hover:before {
	background: var(--azzurro);
	transition: 0.2s ease;
	width: 100%;
}

.home .home-perfil {
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	grid-template-rows: 30% 30% 40%;
	grid-template-columns: 80%;
	padding: 50px;
	margin-top: 60px;
}

.home .home-perfil .max-width {
	margin: 100px 0;
}

.questionBox {
	width: 100%;
	padding: 20px;
	margin: 20px;

}

.question {
	font-family: "sabtu";
	font-size: 75px;
	opacity:0;
}

.answer {
opacity:0;
	font-family: "bit";
	font-size: 22px;
	letter-spacing: 4px;
	justify-content: end;
	display: flex;
	margin-top: 8px;

}

.answer2 {
	font-family: "bit";
	font-size: 22px;
	letter-spacing: 4px;
	margin-top: 8px;
	opacity:0;
}


#ans1{
	color:fuchsia;
}

#ans2{
	color: lightseagreen;
}

#ans3{
	color: yellow;
}

#ans9{
	color: green;
}

.typing{
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}

.right {
	display: grid;
	justify-content: right;
	text-align: end;
}


.left {
	display: grid;
	justify-content: left;
	text-align: start;
}

.bi-x-lg {
	color: red;

}

.bi-check-lg {
	font-size: 28px;
	color: green;
}


.umbrella {
	display: flex;
}

.umbrella input {
	margin: 5px;
}

.umbrella span {
	margin-left: 20px;
	width: 15%;
	padding: 5px;
	opacity:0;
}

.bi-umbrella {
	margin: 6px;
	font-size: 28px;
}

section {
	padding: 10px 0;
}

.category {
	display: inline-block;
	width: 100%;
	position: relative;
	margin-bottom: 37px;

	letter-spacing: 1px;
	;
}

.category .title {
	font-size: 40px;
	text-align: center;
	color: var(--giallo);
	position: relative;
	top: 56px;
	letter-spacing: 10px;
	font-family: "Poppins";
}

.category .title::before {
	content: "";
	position: absolute;
	top: -31px;
	left: 50%;
	padding-bottom: -6px;
	width: 90%;
	height: 7px;
	background: rgb(25, 40, 65);
	background: linear-gradient(90deg, rgba(25, 40, 65, 1) 0%, rgba(251, 188, 5, 1) 47%, rgba(25, 40, 65, 1) 100%);
	/* opacity: 0.2; */
	transform: translateX(-50%);
}

.category .subtitle {
	display: flex;
	justify-content: center;
	position: relative;
	top: 55px;
	color: var(--bianco);
	/* opacity: 0.5; */
	align-content: center;
	text-align: center;
	width: 85%;
	margin: auto;
	font-family: "Montserrat";
	margin-top: 10px;
}

.about-content {
	/* display: flex; */
	/* flex-wrap: wrap; */
	/* align-items: flex-start; */
	/* justify-content: space-between; */
	/* margin: 190px auto; */
	margin: 100px auto auto auto;
	width: 75%;
	text-align: start;
	color: white;
	font-size: 18px;
}

.category .single_service {
	padding: 32px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
}

.category .single_service:hover {
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.category .icon {
	border: 1px solid #666;
	border-radius: 5%;
	color: white;
	/* line-height: 65px; */
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	width: 200px;
	padding: 5px;
}

.category .single_service .single_service-left {
	padding-right: 25px;
}

.single_service-heading {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #5082D7;
}

.single_service-body p {
	font-size: 15px;
	line-height: 25px;
}

.single_service-left {
	display: table-cell;
	vertical-align: middle;
}

.single_service-body {
	color: white;
	display: table-cell;
	vertical-align: top;
}

.hvr-curl-top-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
}

.category .single_service:hover {
	background: rgba(81, 74, 55, 0.11) none repeat scroll 0 0;
}

.riga {
	color: #F8C01B;
	background: #F8C01B;
	border: 0;
	height: 2px;
	width: 45%;
	margin: auto;
}

/* Common style */

.grid figure {
	position: relative;
	/* float: left; */
	overflow: hidden;
	margin: 10px 1%;
	/* min-width: 300px; */
	/* max-width: 480px; */
	/* max-height: 360px; */
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	/* margin: 10px; */
	/* padding: 16px; */
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.5;
}

.grid figure figcaption {
	/* padding: 9em; */
	color: #fff;
	text-transform: uppercase;
	/* font-size: 1.25em; */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	/* left: 0; */
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption>a {

	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	/* word-spacing: -0.15em; */
	/* font-weight: 300; */
	font-size: 16px;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	/* font-size: bold; */
	/* font-weight: bold; */
	background: white;
	opacity: 0.5;
	color: black;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption>div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h2,
figure.effect-lily p {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 3em;
	-webkit-transform: translate3d(0, 40px, 0);
	transform: translate3d(0, 40px, 0);
	width: 100%;
	/* margin: auto; */
	text-align: center;
}

figure.effect-lily h2 {
	padding-left: 3em;
	padding-bottom: 12em;
}

figure.effect-lily h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-lily p {
	/* color: rgba(255, 255, 255, 0.8); */
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


.tab-fav {
	display: grid;
	/* width: 105%; */
	grid-template-columns: 33% 33% 33%;
	color: white;
}

.tab-fav fieldset {
	margin: 10px;
}

.grid {
	margin: 10px;
}

.vedi-altro {

	float: right;
	margin: 5px;

}
/********************************************************* RESPONSIVE *******************************************/
@media screen and (max-width: 1920px) {
	.max-width {
		align-items: flex-start;
	}
}

@media screen and (max-width: 1440px) {
	.home {
	grid-template-rows: 70% 30%;
}

	.home .home-perfil {
		margin-top: 0;
		grid-template-rows: 25% 45% 40%;
		padding: 60px;
	}

	.question {
		font-size: 65px;
	}

	.logo {
		font-size: 16px;
		margin: auto;
	}

	.navbar {
		letter-spacing: 3px;
	}

	.navbar .menu li a {
		padding: 5px 10px;
		margin-left: 10px;
	}

	.navbar .menu {
		margin-left: 0;
	}

	.answer {
		font-size: 18px;
	}

	.answer2 {
		font-size: 18px;
	}

	.umbrella span {
		width: 16%;
	}
	
	.home .home-content .button-text-3 {
	margin-top: 2rem;
}
.home .home-content {

	 padding: 0;

}
}

@media screen and (max-width: 978px) {
	.max-width {
		padding: 0 20px;
	}

	.menu-btn {
	display: block;
	z-index: 999;
	right: 25px;
	position: fixed;
	top: 10px;
}

	.navbar .max-width {
		align-items: center;
		padding: 0 20px;
	}

	.navbar .menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: minmax(100px, auto);
		position: fixed;
		width: 100%;
		right: 0;
		top: -100%;
		border-radius: 0 0 30px 30px;
		border-bottom: 3px solid var(--bianco);
		padding-bottom: 100px;
		background: var(--bianco);
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
		transition: 0.2s ease;
	}

	.navbar .menu li {
		margin-bottom: 50px;
	}

	.navbar .menu.active {
		top: 0;
		padding: 0;
	}

	.navbar .menu li a {
		transition: all 0.1s ease;
		color: var(--sfondo);
		border-radius: 0;
	}

	.navbar .menu li a:hover,
	.navbar .menu i:hover {
		color: var(--azzurro);
	}

	.menu-close {
		position: absolute;
		right: 20px;
		bottom: 5px;
		font-size: 24px;
		cursor: pointer;
		transition: all 0.1s ease;
	}

	.navbar .menu li {
		display: block;
		text-align: center;
		margin: 30px auto;
	}

	.navbar .menu i {
		display: block;
		color: var(--sfondo);
	}

	.navbar .menu li a {
		display: inline-block;
		margin: 0;
	}

.home {
	grid-template-rows: 70% 30%;
}

	.home .home-perfil {
		margin-top: 0;
		grid-template-rows: 25% 45% 40%;
		padding: 60px;
	}

	.question {
		font-size: 65px;
	}

	.logo {
		font-size: 16px;
		margin: auto;
	}

	.navbar {
		letter-spacing: 3px;
	}

	.navbar .menu li a {
		padding: 5px 10px;
		margin-left: 10px;
	}

	.navbar .menu {
		margin-left: 0;
	}

	.answer {
		font-size: 18px;
	}

	.answer2 {
		font-size: 18px;
	}

	.umbrella span {
		width: 16%;
	}
	
	.home .home-content .button-text-3 {
	margin-top: 2rem;
}
.home .home-content {

	 padding: 0;

}
}

@media screen and (max-width: 768px) {}


@media screen and (max-width: 450px) {
	.max-width {
		padding: 0 12px;
	}

	.navbar {
		padding: 0.5rem 0;
	}

	.navbar .logo a {
		font-size: 20px;
	}
}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 375px) {}