<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style3.css">
<title>Darn - Favole</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet"
	href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css">
<!-- ICONSSCOUT -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="css/style3.css">

<!-- libreria per il typed jq-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/path/to/noframework.waypoints.min.js"></script>

<script src="js/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>

</head>



<body id="lily">


<div th:insert="~{fragments/header::header}"></div>
	<div class="textSection">
		<h2>
			<span class="inline">Il diario segreto di <span class="lovely">
					Lily </span></span>
		</h2>
		<p>Una bambina di nome Lily amava trascorrere il suo tempo nel
			parco, giocando sulle altalene, sugli scivoli, sui trampolini e
			arrampicandosi sulla palestra della giungla. Passava ore a correre,
			giocare e inventare avventure diverse ogni volta.</p>
		<br>
		<p>Un giorno, mentre giocava nel parco, Lily notò una nuova
			ragazza seduta su una panchina. La ragazza sembrava sola, così Lily
			decise di avvicinarsi.</p>
		<br>

		<p class="dialogo">"Ciao! Come ti chiami?" salutò Lily.</p>

		<p class="dialogo">"Mi chiamo Sarah, e tu?" rispose la nuova
			ragazza.</p>

		<p class="dialogo">"Sono Lily. Vuoi giocare con me sull'altalena?"
			invitò Lily.</p>

		<p>Così le due ragazze si conobbero meglio, e Lily apprese che
			Sarah si era appena trasferita in città e non aveva ancora molti
			amici. Presto, Lily e Sarah divennero inseparabili e spesso giocavano
			insieme nel parco dopo la scuola.</p>
		<br>


	</div>

	<div class="textSection">
		<h3>Un giorno Sarah notò qualcosa...</h3>
		<p>"C'è qualcosa che non va?" chiese Sarah preoccupata a Lily.
			"Sembri triste."</p>

		<p>Inizialmente, Lily negò di essere triste, ma alla fine confidò
			timidamente a Sarah cosa era successo poche ore prima.</p>
		<br>
		<div class="grid-lily">
			<br> <br> <br>
			<p class="dialogo1">"Stamattina a scuola, mentre ero al bagno, il
				mio amico Luca ha trovato e preso il mio diario segreto dalla mia
				borsa senza il mio permesso, poi l'ha letto ad alta voce davanti a
				tutti. Ora tutti sanno di chi sono innamorata. Quando sono tornata
				dal bagno, tutti mi fissavano, mi puntavano il dito e ridevano di
				me, ma io non capivo... finché non ho visto Luca con il mio diario
				in mano."</p>
			<!--  prima foto  -->
			<div class="img-lily">
				<div class="imageSection a shuttleContainer">
					<div class="img parallax">
						<div class="image" role="img" aria-label="pink diary"
							style="background-image: url('https://img.freepik.com/premium-photo/bright-composition-fashion-accessories-glitter-sequins-notepad-funny-decorated-pen-stationery-supplies-soft-pastel-background-flat-lay-top-view_154156-798.jpg?w=740')"></div>
					</div>
				</div>
			</div>
		</div>

		<br>
		<p>"Incredibile!" esclamò Sarah. "Hai detto qualcosa alla
			maestra?" chiese incredula.</p>

		<p>"No," rispose Lily, "mi sono solo arrabbiata con Luca e ho
			rimesso il diario nello zaino. Ma non mi sono sentita a mio agio, mi
			sono sentita imbarazzata e derisa da tutti."</p>
		<br>
		<p>Sarah consolò la sua amica e le disse che se mai dovesse
			succedere di nuovo che qualcuno toccasse le sue cose senza il suo
			permesso, avrebbe dovuto chiedere aiuto alla maestra o a un adulto
			senza sentirsi in imbarazzo.
		<p>È sbagliato usare le informazioni private di una persona senza
			il suo permesso, come aveva fatto Luca. Si chiama "violare la privacy
			degli altri".</p>

		<p>Sarah spiegò che sua madre le aveva spiegato il significato di
			questa importante parola: la privacy è tutto ciò che desideriamo
			tenere riservato, e nessuno ha il diritto di utilizzarla. Quando le
			persone sentono che la loro privacy viene violata, possono sentirsi
			spaventate, arrabbiate e violate. Sarah suggerì a Lily di mettere un
			lucchetto sul suo diario, così nessuno potrebbe leggerlo senza il suo
			permesso.</p>
			<br>
		<div class="grid-lily">
		<br>
			<p>Lily e Sarah impararono che la privacy è importante perché
				permette alle persone di sentirsi sicure e a loro agio. È
				fondamentale non solo rispettarla, ma anche proteggerla.</p>
			<!--  seconda foto -->
			<div class="img-lily">
				<div class="imageSection b shuttleContainer">
					<div class="img parallax">
						<div class="image"
							style="background-image: url('https://img.freepik.com/free-photo/smiley-young-girlfriends-holding-hands_23-2148308683.jpg?w=740&amp;t=st=1688657156~exp=1688657756~hmac=97d16b965be90a38d855c1570734e00b89c3f428a9588baa3c2540cc09914b95')"
							role='img' aria-label="a bunch of blueberries. "></div>
					</div>

				</div>
			</div>
		</div>
	</div>












</body>
<script>
gsap
.timeline()
.to(".a .img", { delay: 0.8 })
.to(".a .img", {
	y: -50,
	stagger: 0.1
})
.to(".a .img", {
	y: 0,
	stagger: 0.1
});

function multiImageMove(selector) {
//move many
//everything inside the .shuttlecontainer will move downwards.
$(selector + ".shuttleContainer").each((pi, parentElement) => {
	var lastChildIndex = $(parentElement).children().length - 1;
	var parent = 
	$(parentElement).children()
		.each((i, e) => {
			gsap.to(e, {
				y: (30 * i) / lastChildIndex + "vh",

				scrollTrigger: {
					scrub: 1,
					trigger: parentElement,
					start: "top bottom",
					end: "bottom top",
					ease: "power1.inOut"
				}
			});
		});
});
}

function parallax(selector) {
//parallax
//put .parallax on a container and everything inside will have parallax.
$(selector + ".parallax > *").each((i, e) => {
	gsap.to(e, {
		y: 70,
		scrollTrigger: {
			scrub: 1,
			trigger: $(e).parent()[0],
			start: "top+100 bottom",
			end: "bottom top",
			ease: "linear"
		}
	});
});
}

multiImageMove("");
parallax("");

gsap.to(".a .img", {
y: function (i, t) {
	return (i / $(t).siblings().length) * 30 + "vh";
},
scrollTrigger: {
	scrub: 1,
	trigger: ".imageSection.a",
	start: "top+100 bottom",
	end: "bottom top",
	ease: "liniar"
	//markers:true,
}
});
/*
gsap.to(".a .img .image",{
y:70,
scrollTrigger:{
	scrub:1,
	trigger:".imageSection.a",
	start:"top bottom",
	end:"bottom top",
	ease:"liniar",
}
});

gsap.to(".b .img",{
y:function(i,t){
	return (i/$(t).siblings().length*30)+"vh";
},
scrollTrigger:{
	scrub:1,
	trigger:".imageSection.b",
	start:"top bottom",
	end:"bottom top",
	//ease:"liniar",
}
});
gsap.to(".b .img .image",{
y:70,
scrollTrigger:{
	scrub:1,
	trigger:".imageSection.b",
	start:"top bottom",
	end:"bottom top",
	ease:"liniar",
}
});*/

</script>

</html>