<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style3.css">
<title>Darn - Favole</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet"
	href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css">
<!-- ICONSSCOUT -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="css/style3.css">

<!-- libreria per il typed jq-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/path/to/noframework.waypoints.min.js"></script>

<script src="js/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>
<style>
.prova {
	font-size: 28px;
	top: -60px;
	position: absolute;
	color: white;
	font-family: tale;
	width: 105%;
	margin: auto;
	margin-left: -23px;
}
</style>
</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>

	<!--	<a type="button" th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
		class="button" th:href="@{/admin/createFavola}"> Aggiungi </a>
	<div class="background">
		<div class="box-titolo">
			<div class="titolo">Favole</div>
		</div>

		<!-- CONTROLLO SE L'UTENTE SIA ADMIN
		<th:block th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
			th:each="favola : ${tutteFavole}">
			<fieldset>
				<legend th:text="${favola.meta_info}">Meta-Info</legend>
				<div class="box-argomento">
					<h3 style="font-family: 'Tempus Sans ITC'; color: purple;" th:text="${favola.titolofavola}">Titolo
						Favola</h3>
					<p style="font-family: 'Segoe Print'; font-size: x-small;"
						th:text="${favola.getTestofavola().substring(0,200).concat('...')}">
						Contenuto piccolo della favola</p>
				</div>
				<a class="button" type="submit"
					th:href="@{/favole/favolaView/{id}(id=${favola.id_favola})}">Continua</a>
				<a class=button type="submit"
					th:href="@{/admin/fixedFavola/{id}(id=${favola.getId_favola()})}">Modifica</a>
				<a class=button type="submit"
					th:href="@{/admin/deleteFavola/{id}(id=${favola.getId_favola()})}">Elimina</a>
			</fieldset>
		</th:block> -->

	<div class="favole-all">

		<div class="titolo-fav">Che storia leggerai oggi?</div>
		<hr class="riga2">
		<br>
		<br>
		<br>
		<br>
		<section class="favola-mast">
			<div class="favola-mast_container">
<div>
				<p class="prova"> Il giardino Incantato</p>
				<a th:href="@{/favole/Matteo-e-il-suo-giardino-incantato}">
					<div class="img-favola">
						<div class="absolute-bg"
							style="background-image: url('https://img.freepik.com/free-vector/hand-drawn-flat-design-enchanted-forest-illustration_23-2149373397.jpg?w=740&t=st=1690274767~exp=1690275367~hmac=ce708ba43050ae64a2b08e90f94cfe8678252ed3fa32d7f725c045ef5c0f39ef');"></div>
					</div>
				</a>  
				</div>
				<div>
				<p class="prova">Il diario segreto di Lily</p>
				<a th:href="@{/favole/Lily-e-il-diario-segreto}">
					<div class="img-favola">	
						<div class="absolute-bg"
							style="background-image: url('https://img.freepik.com/free-vector/young-woman-reading-book-concept-cartoon-hand-drawn-cartoon-art-illustration_56104-1042.jpg?w=740&t=st=1690273655~exp=1690274255~hmac=ea0f6454c346fe0f002e4dca2244ef66d609455deb059ff38b58095aa093b29d');">
						
						</div>
					</div>
				</a></div>
				
			<div>
				<p class="prova">La sconfitta del mostro Cyber-Bullo</p>
				<div class="img-favola">
					<div class="absolute-bg"
						style="background-image: url('https://img.freepik.com/free-vector/cyber-bullying-concept_23-2148595215.jpg?w=740&t=st=1690273365~exp=1690273965~hmac=9cfccf82b50302c910229dcd5d0bb2a53675fbf4f8243b56c015bad6b573b9bf');"></div>
				</div>

			</div>
		</section>

		<h1 class="glossario">
			Dai un'occhiata al glossario della
			<p class="priv">PRIVACY</p>
		</h1>

		<br>
		<section class="favola-mast_container2"></section>


	</div>

	<div th:insert="fragments/footer::footer"></div>
</body>

</html>