<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/style3.css">
<title>Darn - Favole</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet"
	href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css">
<!-- ICONSSCOUT -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="css/style3.css">

<!-- libreria per il typed jq-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/path/to/noframework.waypoints.min.js"></script>

<script src="js/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>

</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>

	<!--	<a type="button" th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
		class="button" th:href="@{/admin/createFavola}"> Aggiungi </a>
	<div class="background">
		<div class="box-titolo">
			<div class="titolo">Favole</div>
		</div>

		<!-- CONTROLLO SE L'UTENTE SIA ADMIN
		<th:block th:if="${!session.isEmpty()} and ${session.userSession.email.equals('admin@gmail.com')}"
			th:each="favola : ${tutteFavole}">
			<fieldset>
				<legend th:text="${favola.meta_info}">Meta-Info</legend>
				<div class="box-argomento">
					<h3 style="font-family: 'Tempus Sans ITC'; color: purple;" th:text="${favola.titolofavola}">Titolo
						Favola</h3>
					<p style="font-family: 'Segoe Print'; font-size: x-small;"
						th:text="${favola.getTestofavola().substring(0,200).concat('...')}">
						Contenuto piccolo della favola</p>
				</div>
				<a class="button" type="submit"
					th:href="@{/favole/favolaView/{id}(id=${favola.id_favola})}">Continua</a>
				<a class=button type="submit"
					th:href="@{/admin/fixedFavola/{id}(id=${favola.getId_favola()})}">Modifica</a>
				<a class=button type="submit"
					th:href="@{/admin/deleteFavola/{id}(id=${favola.getId_favola()})}">Elimina</a>
			</fieldset>
		</th:block> -->

	<div class="favole-all">

		<div class="titolo-fav">Che favola leggerai oggi?</div>
		<hr class="riga2">
		<br>
		<section class="favola-mast">
			<div class="favola-mast_container">

				<a>
					<div class="img-favola">
						<div class="absolute-bg"
							style="background-image: url('https://source.unsplash.com/3IEZsaXmzzs/1500x1200');"></div>
					</div>
				</a> 
				<a th:href="@{/favole/Lily-e-il-diario-segreto}">
					<div class="img-favola">
						<div class="absolute-bg"
							style="background-image: url('https://th.bing.com/th/id/OIG.ouIz6UGyM_OLL3ySezXv?pid=ImgGn');">
						</div>
					</div>
				</a>
				<a th:href="@{/favole/Matteo-e-il-suo-giardino-incantato}">
				<div class="img-favola">
					<div class="absolute-bg"
						style="background-image: url('https://source.unsplash.com/BIZv8MWH00s/1500x1200');"></div>
				</div>
				</a>
				<div class="img-favola">
					<div class="absolute-bg"
						style="background-image: url('https://source.unsplash.com/z55CR_d0ayg/1500x1200');"></div>
				</div>

			</div>
		</section>

		<h1 class="glossario">
			Dai un'occhiata al glossario della
			<p class="priv">PRIVACY</p>
		</h1>

		<br>
		<section class="favola-mast_container2"></section>


	</div>

	<div th:insert="fragments/footer::footer"></div>
</body>

</html>