<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css">
	<!-- ICONSSCOUT -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="css/style3.css">

	<!-- libreria per il typed jq-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<!-- ScrollReveal -->
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="/path/to/noframework.waypoints.min.js"></script>

	<script src="js/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>

</head>

<body>
	<div th:insert="~{fragments/header::header}"></div>

<div class="login-container"> 
	
	<div class="titolo-login">
		Accedi a DARN
	</div>
	
				<form th:action="@{/users/session}" th:object="${user}" method="POST" modelAttribute="user"
					class="form-signin">
					<br>
					<div class="input-login">
					<label class="label">EMAIL</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Email"
							autofocus="autofocus" required="required" onkeyup="checkEmail()" /><br>
					<label class="label">PASSWORD</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password"
							required="required" onkeyup="checkPassword()" />


					</div>
					<div class="components-button">
						<button class="button" type="submit" formaction="/users/profilo" formmethod="post" autofocus>
							Accedi </button>
					</div>

<br> 
				<br>
				<div class="oppure">
					<hr class="riga">
					<p class="p-log"> oppure </p>
					<hr class="riga">
				</div>
			<br>
				<p class="p-log">Clicca qui per <a id="text-style" href="/users/registrazione">registrarti </a></p>
<br>



			</div>

	
				</form>
	
<!-- 	<div class="container-sezioni"> -->
<!-- 			<div class="text-login"> -->
<!-- 				<img class="image3" th:src="@{/images/image-login.jpg}" alt="logo"> -->

<!-- 				<form th:action="@{/users/session}" th:object="${user}" method="POST" modelAttribute="user" -->
<!-- 					class="form-signin"> -->
<!-- 					<br> -->
<!-- 					<div class="input-login"> -->
<!-- 						<input type="text" class="form-control" id="email" name="email" placeholder="Email" -->
<!-- 							autofocus="autofocus" required="required" onkeyup="checkEmail()" /><br> -->

<!-- 						<input type="password" class="form-control" id="password" name="password" placeholder="Password" -->
<!-- 							required="required" onkeyup="checkPassword()" /> -->


<!-- 					</div> -->
<!-- 					<div class="components-button"> -->
<!-- 						<button class="button" type="submit" formaction="/users/profilo" formmethod="post" autofocus> -->
<!-- 							Accedi </button> -->
<!-- 					</div> -->


<!-- 					<br> -->
<!-- 				</form> -->
<!-- 				<br> -->
<!-- 				<br> -->
<!-- 				<div class="brand_border"> -->
<!-- 					<hr class="riga"> -->
<!-- 					<p class="p-log"> oppure </p> -->
<!-- 					<hr class="riga"> -->
<!-- 				</div> -->
<!-- 				<br> -->
<!-- 				<br> -->
<!-- 				<br> -->
<!-- 				<p class="p-log">Clicca qui per <a id="text-style" href="/users/registrazione">registrarti </a></p> -->




<!-- 			</div> -->

<!-- 		</div> -->
	
</div>

	<!-- sezione test privacy (senza login) 

	<div class="background">
		<div class="box-titolo">
			<div class="titolo-login">Accedi al portale della privacy</div>
		</div>
		
	</div>
	</div>
	</div>-->

	<div th:insert="fragments/footer::footer"></div>
</body>

</html>