<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">


	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Single Page Web Site</title>



	<script src="js/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>




	<style>
		#text2 {
			position: relative;
			display: inline-block;
		}


		#underline {
			position: absolute;
			background-color: blue;
			height: 10px;
			bottom: -2px;
			left: 0px;
			z-index: -1;
		}
	</style>


</head>

<body>




	<!--   <p id="text2">here is the <span id="wordToUnderline"><span id="underline"></span>second</span> text</p> -->
	<div id="text2"><span> Non lasciare che</span><span id="underline"></span></div><br>
	<div id="text2"><span> la tua privacy</span><span id="underline"></span></div><br>
	<div id="text2"><span> sia il tuo punto debole</span><span id="underline"></span></div><br>





	<script>

		let tl2 = gsap.timeline();
		tl2.to("#underline", {
			width: "100%", duration: 2, delay: 0
		})

	</script>
</body>

</html>