<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>DARN - Registrazione</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet"
	href="https://www.ionos.it/digitalguide/path/to/font-awesome/css/font-awesome.min.css">
<!-- ICONSSCOUT -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
	integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
	crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="../css/style3.css">

<!-- libreria per il typed jq-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
	integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

<!-- ScrollReveal -->
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/path/to/noframework.waypoints.min.js"></script>

<script src="js/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Flip.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Observer.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/Draggable.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/EaselPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/MotionPathPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/PixiPlugin.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/TextPlugin.min.js"></script>


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script
	scr="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="../js/ConvalidazioneCampi.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


</head>


<body>
	<div th:insert="~{fragments/header::header}"></div>
	<br>
	<form th:action="@{/users/all}" th:object="${user}" method="POST">
		<div class="profilo-page">
			<div class="corpoReg" id="hide">


				<div class="containerReg">
					<p class="titReg">Registrazione</p>


					<!-- progress bar in alto -->
					<div class="progress-bar">

						<div class="step">
							<p>Registrati</p>
							<div class="bullet">
								<span><i class="bi bi-0-circle-fill num"></i></span>
							</div>
							<div class="check fa fa-check"></div>
						</div>

						<div class="step">
							<p>Passo 1</p>
							<div class="bullet">
								<span><i class="bi bi-1-circle-fill num"></i></span>
							</div>
							<div class="check fa fa-check"></div>
						</div>

						<div class="step">
							<p>Passo 2</p>
							<div class="bullet">
								<span><i class="bi bi-2-circle-fill num"></i></span>
							</div>
							<div class="check fa fa-check"></div>
						</div>
						<div class="step">
							<p>Passo 3</p>
							<div class="bullet">
								<span><i class="bi bi-3-circle-fill num"></i></span>
							</div>
							<div class="check fa fa-check"></div>
						</div>
					</div>



					<div class="form-outer" id="hide">
						<div class="form">




							<div class="page slidePage" id="prima">


								<!-- STA QUI IL FORM CHE SI PRENDE I DATI DELL'UTENTE ' -->

								<div class="title">Crea il tuo account</div>


								<div class="field2">

									<div class="questionario-box">
										<div class="campo-reg">Email</div>
										<input class="inputRegistrazione" type="email" name="email"
											title="L'email deve essere nel seguente formato: example@gmail.com"
											id="email" placeholder="Email" onkeyup="checkEmail()"
											required>
									</div>

									<div class="questionario-box">
										<div class="campo-reg">Password</div>
										<input class="inputRegistrazione" type="text" name="password"
											id="password" placeholder="Password"
											title="La password deve essere lunga da 8 a 16 caratteri e contenere almeno un carattere maiuscolo, un numero e un carattere speciale"
											onkeydown="checkPassword(event)" required>
									</div>

									<div class="questionario-box">
										<div class="campo-reg">Nome</div>
										<input class="inputRegistrazione" type="text" name="nome"
											id="nome" placeholder="Nome" required>
									</div>

									<div class="questionario-box">
										<div class="campo-reg">Cognome</div>
										<input class="inputRegistrazione" type="text" name="cognome"
											id="cognome" placeholder="Cognome" required>
									</div>

									<div class="questionario-box">
										<div class="campo-reg">Data di nascita</div>
										<input class="inputRegistrazione" type="date"
											name="dataNascita" id="data-Nascita"
											placeholder="Data di Nascita" required>
									</div>
								</div>

								<div class="field nextBtn">
									<button type="button">Next</button>
								</div>

							</div>

							<!--box prime 5 domande -->
							<div class="page " id="seconda">
								<div class="title">Compila il questionario</div>

								<!-- dovrei ripetere questo div per ogni domanda-->


								<div class="field2">

									<th:block th:each="dom, domStat: ${questionario}">
										<div th:if="${domStat.count<=5}" th:remove="tag">
											<div class="questionario-box">
												<div class="campo-reg">
													<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
													<p class="domanda" th:text="${dom.testo}"></p>
												</div>

												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="mai" value="mai" placeholder="perniente" required />
													<p th:text="${dom.risposta1}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="raramente" value="raramente" placeholder="poco"
														required />
													<p th:text="${dom.risposta2}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="spesso" value="spesso" placeholder="abbastanza"
														required />
													<p th:text="${dom.risposta3}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="sempre" value="sempre" placeholder="tanto" required />
													<p th:text="${dom.risposta4}"></p>
												</div>
											</div>
										</div>
									</th:block>
								</div>
								<!-- <th:block th:each="dom : ${questionario1}">
									<div class="box-domande">

										<div class="campo-reg">
											<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
											<p class="domanda" th:text="${dom.testo}"></p>
										</div>

										<div class="spaceradio">
											<input type="radio" th:name="'valore'+${dom.id_domanda}" id="mai"
												value="mai" placeholder="perniente" required />
											<p th:text="${dom.risposta1}"></p>
										</div>
										<div class="spaceradio">
											<input type="radio" th:name="'valore'+${dom.id_domanda}" id="raramente"
												value="raramente" placeholder="poco" required />
											<p th:text="${dom.risposta2}"></p>
										</div>
										<div class="spaceradio">
											<input type="radio" th:name="'valore'+${dom.id_domanda}" id="spesso"
												value="spesso" placeholder="abbastanza" required />
											<p th:text="${dom.risposta3}"></p>
										</div>
										<div class="spaceradio">
											<input type="radio" th:name="'valore'+${dom.id_domanda}" id="sempre"
												value="sempre" placeholder="tanto" required />
											<p th:text="${dom.risposta4}"></p>
										</div>

									</div>
								</th:block>
 -->



								<div class="field btns">
									<button type="button" class="prev-1 prev">Previous</button>
									<button type="button" class="next-1 next">Next</button>
								</div>
							</div>

							<!--box ultime 5 domande -->
							<div class="page " id="terza">
								<div class="title">Compila il questionario</div>
								<!-- dovrei ripetere questo div per ogni domanda-->
								<div class="field2">

									<th:block th:each="dom, domStat: ${questionario}">
										<div th:if="${domStat.count>5 && domStat.count<=8}"
											th:remove="tag">
											<div class="questionario-box">
												<div class="campo-reg">
													<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
													<p class="domanda" th:text="${dom.testo}"></p>
												</div>

												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="mai" value="mai" placeholder="perniente" required />
													<p th:text="${dom.risposta1}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="raramente" value="raramente" placeholder="poco"
														required />
													<p th:text="${dom.risposta2}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="spesso" value="spesso" placeholder="abbastanza"
														required />
													<p th:text="${dom.risposta3}"></p>
												</div>
												<div class="spaceradio">
													<input type="radio" th:name="'valore'+${dom.id_domanda}"
														id="sempre" value="sempre" placeholder="tanto" required />
													<p th:text="${dom.risposta4}"></p>
												</div>
											</div>
										</div>
									</th:block>
									<th:block th:each="dom, domStat: ${questionario}">
										<div th:if="${domStat.count==9}" th:remove="tag">
											<div class="questionario-box">
												<div class="campo-reg">
													<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
													<p class="domanda" th:text="${dom.testo}"></p>
												</div>

												<div class="spaceradio">
													<input onclick="abilitaTextArea()" type="radio"
														th:name="'valore'+${dom.id_domanda}" id="si" value="si"
														placeholder="si" required />
													<p th:text="${dom.risposta1}"></p>
												</div>
												<div class="spaceradio">
													<input onclick="disabilitaTextArea()" type="radio"
														th:name="'valore'+${dom.id_domanda}" id="no" value="no"
														placeholder="no" required />
													<p th:text="${dom.risposta2}"></p>
												</div>
												<textarea id="my-textarea"
													placeholder="Se si, vuoi raccontarci cosa hai fatto per contrastarlo?">
												
												
												</textarea>
											</div>
										</div>
									</th:block>

								</div>
								<div class="field btns">
									<button type="button" class="prev-2 prev">Previous</button>
									<button type="button" class="next-2 next">Next</button>
								</div>
							</div>
							<!--privcy policy -->
							<div class="page " id="quarta">
								<div class="title">Leggi ed accetta l'informativa</div>


								<!-- dovrei ripetere questo div per ogni domanda-->


								<div class="field2">
									<span th:insert="~{fragments/privacy::policy}"></span>

									<div class="checkbox-container">
										<input type="checkbox" id="myCheckbox" required> <label
											id="label-check" for="myCheckbox"> Accetta le
											condizioni e l'infomativa sulla privacy policy </label>
									</div>

									<div id="errorDiv" class="error-message">Devi prima
										leggere e accettare le condizione e l'informativa sulla
										privacy policy!</div>
									<span id="errorMessage" style="color: #BB0000"></span>
								</div>




								<div class="field btns">
									<button class="prev-3 prev">Previous</button>
									<button id="submitButton" type="submit"
										formaction="/users/registrazione" formmethod="post"
										onclick="checkRegistrationSubmit()">Registrati</button>
								</div>
							</div>

						</div>
					</div>
				</div>



			</div>


			<!-- visualizzazione su schermi mobile -->
			<div id="mobile">
				<h1 class="titReg">Registrazione</h1>
				<p class="sotto-titReg">Inserisci i tuoi dati personali</p>
				<div class="questionario-box">
					<div class="campo-reg">Email</div>
					<input class="inputRegistrazione" type="email" name="email"
						title="L'email deve essere nel seguente formato: example@gmail.com"
						id="email" placeholder="Email" onkeyup="checkEmail()" required>
				</div>

				<div class="questionario-box">
					<div class="campo-reg">Password</div>
					<input class="inputRegistrazione" type="text" name="password"
						id="password" placeholder="Password"
						title="La password deve essere lunga da 8 a 16 caratteri e contenere almeno un carattere maiuscolo, un numero e un carattere speciale"
						onkeydown="checkPassword(event)" required>
				</div>

				<div class="questionario-box">
					<div class="campo-reg">Nome</div>
					<input class="inputRegistrazione" type="text" name="nome" id="nome"
						placeholder="Nome" required>
				</div>

				<div class="questionario-box">
					<div class="campo-reg">Cognome</div>
					<input class="inputRegistrazione" type="text" name="cognome"
						id="cognome" placeholder="Cognome" required>
				</div>

				<div class="questionario-box">
					<div class="campo-reg">Data di nascita</div>
					<input class="inputRegistrazione" type="date" name="dataNascita"
						id="data-Nascita" placeholder="Data di Nascita" required>
				</div>
				<h1 class="titReg">Questionario</h1>
				<p class="sotto-titReg">Compila un breve questionario
					conoscitivo</p>
				<th:block th:each="dom: ${questionario}">
					<div th:if="${domStat.count<=8}" th:remove="tag">
						<div class="questionario-box">
							<div class="campo-reg">
								<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
								<p class="domanda" th:text="${dom.testo}"></p>
							</div>

							<div class="spaceradio">
								<input type="radio" th:name="'valore'+${dom.id_domanda}"
									id="mai" value="mai" placeholder="perniente" required />
								<p th:text="${dom.risposta1}"></p>
							</div>
							<div class="spaceradio">
								<input type="radio" th:name="'valore'+${dom.id_domanda}"
									id="raramente" value="raramente" placeholder="poco" required />
								<p th:text="${dom.risposta2}"></p>
							</div>
							<div class="spaceradio">
								<input type="radio" th:name="'valore'+${dom.id_domanda}"
									id="spesso" value="spesso" placeholder="abbastanza" required />
								<p th:text="${dom.risposta3}"></p>
							</div>
							<div class="spaceradio">
								<input type="radio" th:name="'valore'+${dom.id_domanda}"
									id="sempre" value="sempre" placeholder="tanto" required />
								<p th:text="${dom.risposta4}"></p>
							</div>
						</div>
					</div>

				</th:block>
				<th:block th:each="dom, domStat: ${questionario}">
					<div th:if="${domStat.count==9}" th:remove="tag">
						<div class="questionario-box">
							<div class="campo-reg">
								<p class="idDomanda" th:text="${dom.id_domanda} + ')'"></p>
								<p class="domanda" th:text="${dom.testo}"></p>
							</div>

							<div class="spaceradio">
								<input onclick="abilitaTextArea()" type="radio"
									th:name="'valore'+${dom.id_domanda}" id="si" value="si"
									placeholder="si" required />
								<p th:text="${dom.risposta1}"></p>
							</div>
							<div class="spaceradio">
								<input onclick="disabilitaTextArea()" type="radio"
									th:name="'valore'+${dom.id_domanda}" id="no" value="no"
									placeholder="no" required />
								<p th:text="${dom.risposta2}"></p>
							</div>
							<textarea id="my-textarea"
								placeholder="Se si, vuoi raccontarci cosa hai fatto per contrastarlo?">
												
												
												</textarea>
						</div>
					</div>
				</th:block>
				<h1 class="titReg">Informativa sulla Privacy Policy</h1>
				<p class="sotto-titReg">Leggi ed accetta le condizioni sulla
					privacy</p>
				<span th:insert="~{fragments/privacy::policy}"></span>

				<div class="checkbox-container">
					<input type="checkbox" id="myCheckbox" required> <label
						id="label-check" for="myCheckbox"> Accetta le condizioni e
						l'infomativa sulla privacy policy </label>
				</div>

				<div id="errorDiv" class="error-message">Devi prima leggere e
					accettare le condizione e l'informativa sulla privacy policy!</div>
				<span id="errorMessage" style="color: #BB0000"></span>
				<button id="submitButton" type="submit"
					formaction="/users/registrazione" formmethod="post"
					onclick="checkRegistrationSubmit()">Registrati</button>
			</div>

		</div>
	</form>

	<script>
//Funzione per mostrare il messaggio di avviso
function showErrorMessage() {
  var errorDiv = document.getElementById('errorDiv');
  errorDiv.style.display = 'block';
}

// Funzione per nascondere il messaggio di avviso
function hideErrorMessage() {
  var errorDiv = document.getElementById('errorDiv');
  errorDiv.style.display = 'none';
}

// Event listener per controllare l'invio del modulo
var submitButton = document.getElementById('submitButton');
submitButton.addEventListener('click', function(event) {
  var checkbox = document.getElementById('myCheckbox');
  if (!checkbox.checked) {
    event.preventDefault(); // Blocca l'invio del modulo
    showErrorMessage();
  } else {
    hideErrorMessage();
    // Altre azioni da eseguire se il checkbox è selezionato
  }
});

</script>
	<!--  script per la text area -->
	<script>
	function abilitaTextArea() {
		  var textarea = document.getElementById("my-textarea");
		  textarea.style.display = "block";
		}
	
	function disabilitaTextArea() {
		  var textarea = document.getElementById("my-textarea");
		  textarea.style.display = "none";
		}

	</script>
	<!--  slider page -->
	<script>
		const slidePage = document.querySelector(".slidePage")
		const firstNextBtn = document.querySelector(".nextBtn")
		const prevBtnSec = document.querySelector(".prev-1")
		const nextBtnSec = document.querySelector(".next-1")
		const prevBtnThird = document.querySelector(".prev-2")
		const nextBtnThird = document.querySelector(".next-2")
		const prevBtnLast = document.querySelector(".prev-3")
		const submitBtn = document.querySelector(".submit")
		const progressText = document.querySelectorAll(".step p")
		const progressCheck = document.querySelectorAll(".step .check")
		const bullet = document.querySelectorAll(".step .bullet")

		let max = 4;
		let current = 1;

		firstNextBtn.addEventListener('click', (e) => {
			slidePage.style.marginLeft = "-25%";
			bullet[current - 1].classList.add("active")
			progressCheck[current - 1].classList.add("active")
			progressText[current - 1].classList.add("active")
			current++;

			e.preventDefault()

		})
		nextBtnSec.addEventListener('click', () => {
			slidePage.style.marginLeft = "-50%"
			bullet[current - 1].classList.add("active")
			progressCheck[current - 1].classList.add("active")
			progressText[current - 1].classList.add("active")
			current++;

		})
		nextBtnThird.addEventListener("click", () => {
			slidePage.style.marginLeft = "-75%"
			bullet[current - 1].classList.add("active")
			progressCheck[current - 1].classList.add("active")
			progressText[current - 1].classList.add("active")
			current++;

		})
		/*		submitBtn.addEventListener("click", function () {
					bullet[current - 1].classList.add("active")
					progressCheck[current - 1].classList.add("active")
					progressText[current - 1].classList.add("active")
		
					setTimeout(function () {
						alert("Thank You For Sign Up");
						location.reload()
					}, 800)
		
				})
		*/
		prevBtnSec.addEventListener("click", () => {
			slidePage.style.marginLeft = "0%"
			bullet[current - 2].classList.remove("active")
			progressCheck[current - 2].classList.remove("active")
			progressText[current - 2].classList.remove("active")
			current--;

		})
		prevBtnThird.addEventListener("click", () => {
			slidePage.style.marginLeft = "-25%"
			bullet[current - 2].classList.remove("active")
			progressCheck[current - 2].classList.remove("active")
			progressText[current - 2].classList.remove("active")
			current--;
		})
		prevBtnLast.addEventListener("click", () => {
			slidePage.style.marginLeft = "-50%"
			bullet[current - 2].classList.remove("active")
			progressCheck[current - 2].classList.remove("active")
			progressText[current - 2].classList.remove("active")
			current--;
		})
	</script>
	<div th:insert="fragments/footer::footer"></div>
</body>

</html>